extends ../layout

block content
	h2 List of cards
	#example
		h3 Example Combo
		each example in response.examples
			div.card.question
				.text!= example.text
	#card-list
		div
			h3 Questions
			each question in response.questions
				div.card.question
					.text!= question.text
					.expansion Deck: <strong>#{question.expansion}</strong>
		div
			h3 Answers
			each answer in response.answers
				div.card.answer
					.text!= answer.text
					.expansion Deck: <strong>#{answer.expansion}</strong>